html {
    font-family: "Roboto", sans-serif;
}

body {
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
}

ul {
    list-style:none;
    padding:0;
}

a {
    text-decoration:none;
}

header, footer, section {
    /* border:1px solid red; */

    padding:0 10%;
}

header, footer {
    background-color: #1f2937;
    color:#ffffff;
    flex:1 0 auto;
}

header {
    
    display:flex;
    justify-content:space-between;
    align-items:stretch;
}

header .logo {
    color:#f9faf8;
    font-size:24px;
    font-weight:900;

    flex: 0 0 auto;
    margin-right:20px;

    display:flex;
    align-items:center;
    
}

header ul {

    flex: 0 0 auto;
    margin-left:20px;

    display: flex;
    gap:24px;
    
}

header li a {
    color:#e5e7eb;
    font-weight:400;
}

section.cta {
    flex:1 1 auto;
}

.hero {
    background-color:#1f2937;
    color:#ffffff;
    flex-basis:450px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:48px;
}

.hero h1, .hero p { /* reset defaults */
    margin:0;
}

.hero img {
    flex: 0 0 auto;
}

.hero .left {
    /* border:1px solid red; */
    flex: 0 1 410px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    gap:12px;
}

.hero .title {
    /* border:1px solid red; */

    font-size:48px;
    color:#f9faf8;
    font-weight:900;
    line-height:48px;
}

.hero .subtext {
    /* border:1px solid red; */

    font-size:18px;
    color: #e5e7eb;
}

.info {
    /* border:1px solid blue; */

    flex: 1 1 460px;
    text-align:center;
}

.info h2 {
    font-size:36px;
    color:#1f2937;
    font-weight:900;
    margin-top:42px;
    margin-bottom:42px;
}

.content {
    /* border:1px solid blue; */

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:48px;
}

.item {
    /* border:1px solid purple; */

    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 10px;
}

.frame {
    width:170px;
    height:170px;
    border-radius:18px;
    border:4px solid #3882f6;
    margin:0;
}

.caption {
    text-align:center;
    font-size:18px;
    line-height: 18px;
    font-weight: 300;
    color:#1f2937;
    width:150px
}

.testimony {
    background-color:#e5e7eb;
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.quote {
    width: 700px;
    flex: 1 1 430px;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
}

.testimony blockquote {
    margin:0;
}

.testimony blockquote p {
    margin:0;

    color:#1f2937;
    font-size:36px;
    font-style:italic;
    font-weight:300;

}

.quote p {
    margin:0;
    margin-right:30px;
    font-size:18px;
    /* text-align:end; */
    font-weight:900;

}







.cta {
    padding-top:72px;
    padding-bottom:72px;
    flex: 1 1 350px;

}

.cta .container {
    background-color:#3882f6;
    border-radius: 6px;
    padding:24px 48px;

    color:#ffffff;

    display:flex;
    justify-content:space-around;
    align-items: center;
}

.cta.container.left {
    display:flex;
    flex-direction:column;
}






button.signup {
    color:#ffffff;
    background-color:#3882f6;
    border-radius: 6px;
    padding: 8px 30px;
}

.hero button.signup {
    border:none;
}

.cta button.signup {
    border:2px solid #ffffff;
}

footer {
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 36px 0;
}